body {
margin-left: 20px;
background-image: url("img/background.png");
color: #FFEFFF; 
}

textarea {
background-color: #FFD6FF;
border-radius:10px;
opacity: 1;
}

.alignright {
float: right;
}

.alignleft {
float: left;
}

#floats {
margin-right: 150px;
min-width: 800px;
}

